body {
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background-image: url(../assets/img/background.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: url(/assets/img/crosshair.png) 30 30, auto;
}

#target {
      position: absolute;
      display: none;
}
