body {
      background-color: #000;
      color: #FFF;
      font-family: 'Special Elite', cursive;
      overflow: hidden;
}

.game-initial {
      text-align: center;
      font-size: 2rem;
      font-family: 'Barriecito', cursive;
      color: orangered;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
}

.game-initial button {
      padding: 5px 0;
      margin: 5px 0;
      border: none;
      outline: none;
}

.game-initial button:focus {
      background-color: #000;
      color: #FFF;
      border: 1px solid #FFF;
}

.game-background {
      display: none;
      height: 100vh;
      width: 100vw;
      cursor: url(../assets/img/crosshair.png) 30 30, auto;
      background-image: url(../assets/img/background.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.game-panel {
      background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      display: none;
      align-items: center;
      box-shadow: 0 -3px 10px #000;
      cursor: default;
}

.game-panel h1, .game-options h1, .game-initial h1 {
      font-family: 'Press Start 2P', cursive;
      font-size: 1.6rem;
      text-shadow: 3px 3px #000;
}

.game-panel h2 {
      font-size: 1.2rem;
}

.game-panel h3 {
      font-size: 1rem;
}

.hearts {
      display: flex;
}

.heart {
      font-size: 1.5rem;
      text-align: center;
}

.infinite-mode {
      font-family: 'Fredoka One', cursive;
      color: orange;
      display: none;
}

.options button {
      background-color: transparent;
      border: none;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: 'Fredoka One', cursive;
      color: yellow;
}

.options button:active {
      text-shadow: 1px 1px 7px yellow;
}

.massacre, .double_massacre, .win, .game-over {
      text-align: center;
      font-size: 4rem;
      font-family: 'Barriecito', cursive;
      color: orangered;
      text-shadow: 2px 2px #000;
      display: none;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
}

.game-options {
      background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
      box-shadow: 0 3px 10px #000, 0 -3px 10px #000;
      border-radius: 10px;
      padding: 30px;
      cursor: default;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      flex-direction: column;
      align-items: center;
}

.game-options-img {
      position: relative;
}

.duck-img {
      height: 90px;
}

#crosshair-img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: scale(1.5);
}

.game-options select {
      width: 70%;
      text-transform: uppercase;
      font-family: 'Fredoka One', cursive;
      font-size: 1rem;
}

.game-options-buttons {
      display: flex;
      flex-direction: column;
      margin: 30px 0;
}

.game-options-buttons button, .help {
      outline: none;
      padding: 15px 30px;
      border-radius: 2px;
}

.game-options-buttons button:focus, .help:focus {
      background-color: #222;
}

.options-button {
      border: none;
      background-color: transparent;
      font-family: 'Fredoka One', cursive;
      font-size: 2rem;
      color: yellow;
}

#restart, #continue {
      display: none;
}

.help {
      border: none;
      background-color: transparent;
      font-family: 'Fredoka One', cursive;
      font-size: 1.4rem;
      color: greenyellow;
      padding: 15px 30px;
      margin: 20px 0;
}

#target {
      position: absolute;
      display: none;
}

/* AJUSTE PARA DISPOSITIVO MÓVEL */
@media (max-width: 540px) {
      .game-background {
            background-position: right;
      }
}
